#tem{
    text-align: center;
    padding: 40px;
    margin-bottom: 3rem;
}
#tem p{
    margin-bottom: 30px;
}

#tem .fess{
    color: hotpink;
}

.menber11{
    color: hotpink;
}

.menber{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    margin-right: 70px;
    margin-left: 40px;

}

.mb1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 500px;
    border-radius: 42px;
    box-shadow: 0px 25px 50px 25px #F6F7FF;
    background: #fff;
}

.mb1 div{
   margin-top: 10px;
   margin-bottom: 10px;
}

.menber11{
    color: hotpink;
}

.menber12{
    color: grey;
}

/*contactus*/

.ctus1{
    display: flex;
    flex-direction: column;
    width: 360px;
}

.ctus input{
    border-radius: 10px;
    padding: 7px;
    margin: 10px;
    border: 1px solid #D9DDFE;
    width: 220px;
    height: 40px;
}

.ctus1 input{
    border-radius: 10px ;
    border: 1px solid #D9DDFE;
    padding: 7px;
    margin: 10px;
    outline: none;
    width: 480px;
    height: 40px;
}

#contacus{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5rem;
}

.contacus2 img{
    width: 512px;
    height: 614px;
    padding-top: 8rem;
}

.contacus2{
    padding: 30px;
    margin-right: 6rem;
}

.ctus1 .ttabout{
    height: 150px;
    border-radius: 10px ;
    border: 1px solid #D9DDFE;
    padding: 10px;
    width: 480px;
    height: 200px;
}

#hdit5{
    border: 1px solid hotpink;
    padding: 7px 25px;
    border-radius: 25px;
    background-color: hotpink;
    color: white;
    margin-top: 10px;
    height: 50px;
    width: 240px;
}

#bgtem{
    background-image: url("../../aces/Img/Background Bubble-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1440px;

}
